// == COLORS ==
$background-color: hsl(0, 0%, 86%);
$container-background: #fff;
$input-text-color: hsl(0, 1%, 44%);
$general-text-color: hsl(0, 0%, 8%);
$purple-color: hsl(259, 100%, 65%);
$error-color: hsl(0, 100%, 67%);
$attribution-color: hsl(228, 45%, 44%);

// == SIZES ==
$input-name-size: 10px;
$input-name-size-mob: 12px;
$input-text-size: 24px;
$placeholder-text-size: 20px;
$empty-field-text-size: 10px;
$result-text-size: 75px;
$result-text-size-mob: 55px;

$general-font: "Poppins", sans-serif;
$container-border-radius: 20px 20px 80px 20px;
